[submodule "azhal/external/glfw"]
	path = azhal/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "azhal/external/imgui"]
	path = azhal/external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "common/external/spdlog"]
	path = common/external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "common/external/glm"]
	path = common/external/glm
	url = https://github.com/g-truc/glm.git
[submodule "common/external/cxxopts"]
	path = common/external/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
