[submodule "azhal/external/glfw"]
	path = azhal/external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "azhal/external/imgui"]
	path = azhal/external/imgui
	url = https://github.com/ocornut/imgui.git
